body{
    background-color: rgb(171, 170, 170);
    color:rgb(51, 4, 4)
}
*{
    margin-left:2vmin;
    text-shadow: 2px 1px rgb(144, 138, 138);
}
p{
    max-width:80vw;
    max-height:30vh;
    overflow:auto;
}
p::first-line{
    color:rgb(192, 68, 68);
}
::selection{
    color:aqua;
    background-color: black;
}
ul{
    width:100vw;
    height:5vh;
    margin-left:0px;
    background-color: rgb(94, 74, 74);
    display :flex;
}
ul li{
    margin-top:1vh;
}
header li{
    list-style-type:none;
    list-style-position:inside;
}
header{
    position:sticky;
    top:0px;
    left:0px;
}
h1{
    max-width:50%;
    margin :7vmin;
    font-size: 10vmin;
    box-shadow: 5px 3px 11px 0px rgb(137, 122, 122);}
h2{
    font-size: 7vmin;
}
h3{
    font-size: 5vmin;
}
h4{
    font-size:4vmin;
}
p{
    font-size:2vmin;
}
.boxtype1 a{
    color:white;
    font-size: 18px;
    margin:1vh;
    background-color: rgb(161, 161, 161);
    padding:4px;
    text-shadow: 1px 1px black;
    border-radius:10px;
    text-align: center;
}
#back{
    background-color: rgb(149, 147, 147);
    font-size: 25px;
}
p{
    font-size: larger;
    max-width: 70vw;
}