body {
    color :white ;
    background-color: rgb(71, 7, 72);
    font-size: 25px;
    *{
        font-size: 5vmin;
        padding :2px;
    }
    a{
        color : rgb(234, 120, 234);
    }
    h1{ margin :7vmin;
        font-size: 10vmin;
    }
    h2{
        font-size: 30px;
    }
    .boxtype1>a{
        margin-top:20px;
        color:white;
        font-size: 28px;
        margin:1vw;
        border:2px solid whitesmoke;
        background-color: rgb(255, 95, 80);
        border-radius:7px;
        text-align: center;
    }
    .boxtype1:hover{
        color:rgb(255, 47, 47)
    }
    #back{
        text-decoration: none;
        background-color: rgb(175, 41, 155);
        font-size: 5vmin;
        margin-left: 1.5vw;
    }
    .loginform{
        width:80vw;
        border:3px solid white;
        border-radius:15px;
        margin-left:10vw ;
        margin-top:10vh;
        margin-right:10vw ;
        margin-bottom:10vh;
    }
    #loginfoam{
        border :2px solid blue;
        border-radius: 10px;
    }
    .inputbox{
        width:70%;
        font-size: 75%;
        margin-left: 7%;
        margin-top: 15px;
        color :rgb(103, 102, 102);
        border-style: groove;
        border-color: black;
        border-radius: 7px;
    }
    .inputbox:hover{
        background-color: rgb(226, 207, 207);
    }
    .inputbox2{
        width:70%;
        font-size: 75%;
        margin-top: 10px;
        margin-left: 7%;
        color:rgb(74, 66, 66);
        background-color: aliceblue;
        border:2px solid white;
        border-radius: 7px;
    }
    .foot{
        width:70vw;
        margin: 10vh auto;
    }
    .labelbox{
        font-family: "Exo 2", sans-serif;
        margin-left:4vw;
        margin-top: 2vh;
    }
    .boxtype2{
        background-color: rgb(6, 230, 6);
        border:3px solid white;
        border-radius: 10px;
    }
}

